<main class="bg-light">
  <div class="p-3">
    <h2>Participantes de Tacofest</h2>
  </div>  
  <section class="cards-container d-flex flex-wrap justify-content-between mx-4 mx-md-5">
    <div class="card mb-4">
      <img src="./assets/images/participantes/mujer4.jpg" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">María García</h5>
        <p class="card-text">
          María es una apasionada chef mexicana con más de una década de experiencia en la cocina tradicional. Ha trabajado en varios restaurantes reconocidos por su autenticidad y sabor excepcional. Su amor por los ingredientes frescos y la combinación perfecta de especias le han valido el reconocimiento de sus comensales más exigentes. María se destaca por su habilidad para reinventar platos clásicos con un toque moderno y creativo.
        </p>
      </div>
    </div>

    <div class="card mb-4">
      <img src="./assets/images/participantes/hombre1.jpg" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Juan López</h5>
        <p class="card-text">
          Con raíces en el corazón de México, Juan ha llevado la cocina de su abuela a nuevos niveles de excelencia. Su pasión por preservar las recetas tradicionales de su familia se refleja en cada plato que presenta. Juan es un maestro en la preparación de guisos y salsas que despiertan los sentidos y transportan a quien los prueba a los sabores auténticos de México.
        </p>
      </div>
    </div>

    <div class="card mb-4">
      <img src="./assets/images/participantes/mujer1.jpg" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Carmen Sánchez</h5>
        <p class="card-text">
          Carmen es una chef innovadora que fusiona técnicas culinarias modernas con los sabores clásicos de México. Su enfoque creativo y su dedicación a la excelencia le han valido numerosos reconocimientos en la escena gastronómica. Con un ojo para el detalle y un paladar refinado, Carmen cautiva a los comensales con platos que son verdaderas obras de arte culinarias.
        </p>
      </div>
    </div>

    <div class="card mb-4">
      <img src="./assets/images/participantes/hombre2.jpg" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Diego Martínez</h5>
        <p class="card-text">
          Diego es un experto en cocina mexicana regional, con un profundo conocimiento de las tradiciones culinarias de cada estado del país. Su pasión por explorar los ingredientes locales y técnicas de cocina tradicionales lo ha llevado a recorrer México en busca de inspiración. Diego se destaca por su habilidad para reinterpretar platos clásicos con un enfoque contemporáneo, respetando siempre la esencia de la cocina mexicana.
        </p>
      </div>
    </div>

    <div class="card mb-4">
      <img src="./assets/images/participantes/mujer2.jpg" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Ana Ramírez</h5>
        <p class="card-text">
          Ana es una chef autodidacta con un talento natural para la cocina mexicana. Desde temprana edad, aprendió los secretos de la cocina tradicional de su abuela y ha perfeccionado sus habilidades a lo largo de los años. Su enfoque sencillo pero lleno de sabor le ha ganado el corazón de aquellos que prueban sus platillos. Ana cree firmemente en el poder de la comida para crear vínculos y compartir momentos inolvidables.
        </p>
      </div>
    </div>

    <div class="card mb-4">
      <img src="./assets/images/participantes/hombre3.jpg" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Jorge Hernández</h5>
        <p class="card-text">
          Jorge es un chef experimentado con una pasión por los sabores audaces y las combinaciones inesperadas. Su enfoque innovador hacia la cocina mexicana lo ha llevado a explorar nuevas técnicas y ingredientes, creando platos que sorprenden y deleitan a los comensales. Jorge se distingue por su creatividad y su dedicación a llevar la comida mexicana a nuevas alturas culinarias.
        </p>
      </div>
    </div>

    <div class="card mb-4">
      <img src="./assets/images/participantes/mujer3.jpg" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Laura Gutiérrez</h5>
        <p class="card-text">
          Laura es una chef comprometida con la preservación de la auténtica cocina mexicana. Su profundo respeto por las tradiciones culinarias de su país se refleja en cada plato que crea. Laura se especializa en recetas ancestrales transmitidas de generación en generación, utilizando ingredientes locales y técnicas de cocina centenarias. Su cocina es un homenaje a la riqueza gastronómica y cultural de México.
        </p>
      </div>
    </div>

    <div class="card mb-4">
      <img src="./assets/images/participantes/hombre4.jpg" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Roberto Pérez</h5>
        <p class="card-text">
          Roberto es un chef emprendedor con una visión única para la comida mexicana contemporánea. Su enfoque creativo y su pasión por la innovación lo han llevado a experimentar con ingredientes y sabores poco convencionales. Roberto busca constantemente desafiar los límites de la cocina mexicana, creando platos que son una explosión de sabor y una experiencia sensorial inolvidable.
        </p>
      </div>
    </div>
  </section>

</main>