<main class="form-container">
    <div class="d-flex form-flex">
        <div class="w-100 form-col">
            <div>
                <h2 class="text-primary">¡Registra tu Talento Culinario en Tacofest: El Festival de Sabor Mexicano!</h2>
                <p>
                    ¡Prepara tus mejores recetas y únete a la fiesta gastronómica más esperada del año! Tacofest, nuestro vibrante festival de comida mexicana, está buscando a los chefs más apasionados y creativos para competir por el título de 'Rey o Reina del Taco'. Si eres un amante de los sabores auténticos de México y tienes una receta secreta que dejará a todos con ganas de más, ¡este es tu momento de brillar! Regístrate ahora para participar en Tacofest y lleva tus habilidades culinarias al siguiente nivel. ¡No pierdas la oportunidad de ser parte de esta experiencia única y deleita a los paladares con tus deliciosos platillos mexicanos!
                </p>
            </div>
            <form  name="contact" method="POST" data-netlify="true">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" aria-describedby="yourName">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea class="form-control" id="message" placeholder="Deja aquí tu mensaje" required></textarea>
                </div>
                <div class="my-5">
                    <button class="btn-submit" type="submit">ENVIAR</button>
                </div>
            </form>
        </div>
        <div class="ratio ratio-16x9 form-col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9713.25961592185!2d-99.15466896922915!3d19.37166407788374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffd308467cef%3A0xf73c3cbd6aa9bf6!2sParque%20Francisco%20Villa%20(Parque%20de%20los%20Venados)!5e0!3m2!1ses!2ses!4v1714756406476!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</main>