<main class="poster-container bg-light">
    <div  class="poster-item mx-3 mx-lg-5 mb-3">
        <h1 class="display-1 text-primary fw-semibold">Bienvenidos a Tacofest</h1>
        <span>
            Un Festín para los Sentidos, explora la Auténtica Gastronomía de México
        </span>
    </div>

    <div class="poster-item text-center d-lg-none">
        <img src="./assets/images/tortillas.jpg" class="img-fluid" alt="tortillas mexicanas">
    </div>

    <div class="poster-item p-3">
        <h2 class="fs-5"><em>Eventos:</em></h2>
    </div>

    <section class="poster-item">
        <ul class="container-events">
            <li class="event-image-0"></li>
            <li class="event-image-1"></li>
            <li class="event-image-2"></li>
            <li class="event-image-3"></li>
            <li class="event-image-4"></li>
            <li class="g-col-4 g-col-lg-1 g-start-lg-1 event-1 p-4">
                <h3><a href="#" class="event-link">Taco Madness <i class="fas fa-up-right-from-square fa-xs"></i></a></h3>
                <ul class="pt-2">
                    <li>Sábado, 6 de julio de 2024</li>
                    <li> 2:00 p.m. - 10:00 p.m.</li>
                    <li>Zócalo, Puebla</li>
                </ul>
            </li>
            <li class="g-col-4 g-col-lg-1 g-start-lg-3 event-2 p-4">
                <h3><a href="#" class="event-link">Fiesta de los Sabores <i class="fas fa-up-right-from-square fa-xs"></i></a></h3>
                <ul class="pt-2">
                    <li>Sábado, 15 de junio de 2024</li>
                    <li> Domingo, 14 de julio de 2024</li>
                    <li>Malecón, Puerto Vallarta</li>
                </ul>
            </li>
            <li class="g-col-4 g-col-lg-1 g-start-lg-2 event-3 p-4">
                <h3><a href="#" class="event-link">Aventura de los Antojitos <i class="fas fa-up-right-from-square fa-xs"></i></a></h3>
                <ul class="pt-2">
                    <li>Sábado, 15 de junio de 2024</li>
                    <li> 12:00 p.m. - 8:00 p.m.</li>
                    <li>Plaza Principal, Ciudad de México</li>
                </ul>
            </li>
            <li class="g-col-4 g-col-lg-1 g-start-lg-4 event-4 p-4">
                <h3><a href="#" class="event-link">Fiesta del Chile <i class="fas fa-up-right-from-square fa-xs"></i></a></h3>
                <ul class="pt-2">
                    <li>Domingo, 23 de junio de 2024</li>
                    <li> 11:00 a.m. - 6:00 p.m.</li>
                    <li>Parque Fundidora, Monterrey</li>
                </ul>
            </li>
            <li class="g-col-4 g-col-lg-1 g-start-lg-3 event-5 p-4">
                <h3><a href="#" class="event-link">Dulces Tradiciones <i class="fas fa-up-right-from-square fa-xs"></i></a></h3>
                <ul class="pt-2">
                    <li>Sábado, 20 de julio de 2024</li>
                    <li>3:00 p.m. - 9:00 p.m.</li>
                    <li>Parque de las Palapas, Cancún</li>
                </ul>
            </li>
            <li class="g-col-4 g-col-lg-1 g-start-lg-4 event-6 p-4">
                <h3><a href="#" class="event-link">Sabor de México <i class="fas fa-up-right-from-square fa-xs"></i></a></h3>
                <ul class="pt-2">
                    <li>Domingo, 28 de julio de 2024</li>
                    <li>12:00 p.m. - 6:00 p.m.</li>
                    <li>Jardín Principal, San Miguel de Allende</li>
                </ul>
            </li>
        </ul>
    </section>

    <section class="poster-item d-flex">
        <div class="w-100 p-3">
            <h4>¡Pilla tus entradas antes de que vuelen!</h4>
            <p>¡Para conseguir tus entradas al festival de comida mexicana, dirígete a tiendas locales asociadas, taquerías o restaurantes mexicanos cercanos! ¡No te pierdas este festín de sabores y reserva tu lugar hoy mismo!</p>
        </div>
    
        <div class="w-100 p-3">
            <ul class="d-flex justify-content-center align-items-center h-100">
                <li class="m-4">
                    <a class="text-primary" href="#"><i class="fa-brands fa-instagram fa-fade fa-2xl"></i></a>
                </li>
    
                <li class="m-4">
                    <a class="text-primary" href="#"><i class="fa-brands fa-tiktok fa-fade fa-2xl"></i></a>
                </li>
    
                <li class="m-4">
                    <a class="text-primary" href="#"><i class="fa-brands fa-x-twitter fa-fade fa-2xl"></i></a>
                </li>
            </ul>
        </div>
    </section>
</main>